body {
 background-image: url(images/kompiuter.jpg);
}
a{
color: green; !--цвет текста color.цвет области текста background-color. -->
}
h2{
border: 2px solid #D5CB03; !--граница текста и области,solid -сплошная граница,dashed -черточная граница-->
font-size: 20px; !--расширение текста-->
} 
#moysilka:hover{
 border: 10px solid #D5CB03;
}
<!-- id="пишутся сперва буква"решетка, и есть class="тоже пишется сперва буква"точка, эти атрибуты пишутся на чтмл внутри эелемента,и отвечают чтоб не поменялись и другие похожие элементы одного типа-->
<!--margin для того чтоб оттолкнуть элемент от других элементов значение пиксель,margin-bottom-снизу top-сверху left-слева right-справа оттолкнутся , можно писать еще марджин рядом с другим-- >
<!--padding тоже как марджин отталкивает,но отталкивает уже и текста от области и границы, внутренний и внешний отступ-->
<!-- hover пишетстя рядом с id  и class и задается свойство-border пиксель, вид границы и цвет,свойство-hover нужен для того чтоб когда мышка прикосался на элемент он увеличивался-->
<background-image!--фоновая картина--><!--border-radius чтоб закруглить углы--><!--opacity для того чтобы бордер был прозрачным--><!--box-shadow для того чтобы ввести тень для бордеров,имеет 4 значений по пикселью,первый без минуса это в правую сторону,второй вниз,третий размытость и 4 цвет--><!--transform поворачивать блок на разные градусы через свойство-rotate(0deg , а это увеличивает или уменшает чрз минус блок scale рядом с свойством трансформ--><!-- transition : 5s all  для того чтоб блок анимировался,он идет с отдельным селектром id рядом с свойством-hover и transform : значение-rotate (360deg 360 это стандартное чтоб анимировался нужно ниже цифры писать как 45deg-->